.message-card {
  @apply relative mx-4 my-6 flex w-5/6 items-stretch justify-between 
  rounded-2xl px-6 py-4 shadow-md;
}

.conversation-height {
  height: calc(100vh - 165px);
}

/*------- Media Queries ---------*/

@media screen and (min-width: 1000px) {
  .conversation-height {
    height: calc(100vh - 85px);
  }
}

@media screen and (min-width: 1400px) {
  .message-card {
    @apply w-4/6;
  }
}
