.message-card {
  @apply relative mx-4 my-6 flex w-5/6 items-stretch justify-between 
  rounded-2xl px-6 py-4 shadow-md;
}

.message-card-container {
  height: calc(100vh - 165px);
}

.conversation-height {
  height: calc(100vh - 65px);
}

.notification-dot {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-width: 2px;
  border-color: #2f855a;
  background-color: #54bb89;
  box-shadow: 0 0 1px black;
  z-index: 50;
}
/*------- Media Queries ---------*/

@media screen and (min-width: 1000px) {
  .message-card-container {
    height: calc(100vh - 85px);
  }
}

@media screen and (min-width: 1400px) {
  .message-card {
    @apply w-4/6;
  }
}
