@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
  @apply font-barlow text-primaryGray;
}

body {
  @apply bg-background font-inter text-primaryGray;
}

/* Universal component classes*/

.button {
  @apply relative max-w-xs cursor-pointer bg-primaryGreen 
  px-4 py-1.5 text-sm  font-semibold  tracking-wider text-background 
  shadow-md;
}

.button:active {
  top: 0.1rem;
}

.button-rounded {
  @apply rounded-md;
}

.button-pill {
  @apply rounded-2xl text-xs;
}

.active-link {
  fill: #ff9e5e;
  border-color: #ff9e5e;
}

/* Form classes*/

.input-text {
  @apply rounded-3xl border border-primaryGreen bg-background px-5 py-3 text-sm md:w-80;
}

/*  Card hover animation */

.card {
  @apply overflow-hidden rounded-lg bg-white px-8  pb-5 shadow-sm transition-all hover:scale-95 hover:shadow-lg lg:text-lg;
}

.message-card__self {
  @apply relative float-right m-2 min-h-max w-5/6 overflow-hidden rounded-lg bg-white px-8 pb-1 pb-5 pl-3 pr-3 pt-3 text-black shadow-lg shadow-sm transition-all sm:w-96 lg:text-lg;
}

.message-card__other {
  @apply relative m-2 min-h-max w-5/6 overflow-hidden rounded-lg bg-primaryGreen px-8 pb-1 pb-5 pl-3 pr-3 pt-3 text-black shadow-lg shadow-sm transition-all sm:w-96 lg:text-lg;
}
