@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
  @apply font-barlow text-primaryGray;
}

body {
  @apply font-inter text-primaryGray bg-background;
}

/* Universal component classes*/

.button {
  @apply bg-primaryGreen text-background text-sm font-semibold tracking-wider px-4 py-1.5  shadow-md  cursor-pointer relative max-w-xs;
}

.button:active {
  top: 0.1rem;
}

.button-rounded {
  @apply rounded-md;
}

.button-pill {
  @apply rounded-2xl text-xs;
}

.active-link {
  fill: #ff9e5e;
  border-color: #ff9e5e;
}

/* Form classes*/

.input-text {
  @apply bg-background py-3 px-5 rounded-3xl border border-primaryGreen text-sm md:w-80;
}

/*  Card hover animation */

.card {
  @apply bg-white shadow-sm px-8 pb-5  rounded-lg overflow-hidden lg:text-lg hover:scale-95 hover:shadow-lg transition-all;
}

.message-card__self {
  @apply m-2 float-right min-h-max w-5/6 sm:w-96 bg-white shadow-sm px-8 pb-5 text-black rounded-lg overflow-hidden lg:text-lg shadow-lg transition-all pt-3 pb-1 pl-3 pr-3 relative;
}

.message-card__other {
  @apply m-2 min-h-max w-5/6 sm:w-96 bg-primaryGreen shadow-sm px-8 pb-5 text-black rounded-lg overflow-hidden lg:text-lg shadow-lg transition-all pt-3 pb-1 pl-3 pr-3 relative;
}