@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
  @apply font-barlow text-primaryGray;
}

body {
  @apply bg-background font-inter text-primaryGray;
}

:focus-visible {
  outline: 3px solid #ff9e5e;
}

/* Universal component classes*/

.button {
  @apply relative max-w-xs cursor-pointer bg-primaryGreen 
  px-4 py-1.5 text-sm  font-semibold  tracking-wider text-background 
  shadow-md;
}

.button-disabled {
  @apply relative max-w-xs cursor-not-allowed opacity-60 bg-primaryGreen 
  px-4 py-1.5 text-sm  font-semibold  tracking-wider text-background 
  shadow-md;
}

.button:active {
  top: 0.1rem;
}

.button-rounded {
  @apply rounded-md;
}

.button-pill {
  @apply rounded-2xl text-xs;
}

.active-link {
  fill: #ff9e5e;
  border-color: #ff9e5e;
}

.error-message {
  @apply text-lg font-bold italic text-primaryOrange;
}

/* Form classes*/

.input-text {
  @apply rounded-3xl border border-primaryGreen bg-background px-5 py-3 text-sm md:w-80;
}

/*  Cards */

.card {
  @apply overflow-hidden rounded-lg bg-white px-8  pb-5 shadow-sm transition-all hover:scale-95 hover:shadow-lg lg:text-lg;
}

/*  Menus */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
