@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
  @apply font-barlow text-primaryGray;
}

body {
  @apply font-inter text-primaryGray bg-background;
}

/* Universal component classes*/

.button {
  @apply bg-primaryGreen text-background text-sm tracking-wider px-4 py-1.5 font-semibold shadow-md  cursor-pointer relative max-w-xs;
}

.button:active {
  top: 0.1rem;
}

.button-rounded {
  @apply rounded-md;
}

.button-pill {
  @apply rounded-2xl text-xs;
}

.active-link {
  fill: #ff9e5e;
  border-color: #ff9e5e;
}

/* Form classes*/

.input-text {
  @apply bg-background py-3 px-5 rounded-3xl border border-primaryGreen text-sm md:w-80
}

